<h1>Welcome To Rainforest!</h1>

<h2>Recent</h2>
<ul>
	<% @products.each do |p| %>
	<li><%= link_to(p) do %>
  		<%= p.name %>
  		<%= p.formatted_price %>
		<% end %>
 	<% end%>
 	</li>

</ul>
<h1><%= link_to "Post a Product!", "/products/new" %></h1>